.main-body {
    padding-top: 5rem;
}

.category-button{
    width: 100%;
}

.item-name{
    text-transform: capitalize;
}

.product-description{
    overflow-wrap: break-word;
}

.product-image{
    max-height: 300px;
}

.product-image-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
}

.thumbnail{
    max-width: 250px;
    margin-bottom: 20px;
}

.form-bttn{
    width: 100%;
    margin-top: 10px;
}

@media only screen and (max-width: 991px) {
    .category-button{
        margin-top: 10px
    }
}