.main-body {
    padding-top: 5rem;
}

.category-button{
    width: 100%;
}

.item-name{
    text-transform: capitalize;
}

.product-description{
    overflow-wrap: break-word;
}

.product-image{
    max-height: 300px;
}

.my-account-control{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.variations-list{
    border: black 5px solid; 
    padding: 10px; 
    border-radius: 25px;
    margin-left: 5px;
}

.popular-products-grid-item-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.product-image-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
}

.thumbnail{
    max-width: 250px;
    margin-bottom: 20px;
}

.form-bttn{
    width: 100%;
    margin-top: 10px;
}

.search-items{
    display: none;
    position: absolute;
    margin-left: -7px;
    max-height: 300px;
    margin-top: 9px;
    list-style: none;
    padding-left: 0;
    background-color: white;
    border: 2px solid black;
    border-top: none;
    overflow: auto;
}

.search-items li:last-child{
    border-bottom: none;
}

.search-item{
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: 2px solid black;
}

.search-item a {
    margin-left: 10px;
    width: 100%;
    text-align: center;
    text-transform: capitalize;
}

.search-item-image{
    max-width: 100px;
}

@media only screen and (max-width: 991px) {
    .category-button{
        margin-top: 10px
    }
    .search-items{
        margin-top: 8px;
    }
}

@media only screen and (max-width: 767px) {
    td .product-image {
        display: none;
    }
}