<%- include('header') %>
<main class="container">
    <div class="text-center">
        <h1>Odnajdź z nami swoją figurę ;)</h1>
    </div>
    <div>
        TODO SLIDER
    </div>
    <div>
        <%- include('popular_products') %> <!-- Tutaj będziemy przekazywać dane, które otrzymamy od serwera. Tzn. serwer renderując home, będzie pobierał 
            popularne z bazy, a tutaj przekarzemy je dalej do popular products, żeby nie robić tutaj pętli i zadbać o wielokrotny użytek kodu C: -->
    </div>
</main>
</body>
<%- include('footer') %>
