<%- include('header', {isUserLogged: isUserLogged}) %>
    <main class="container">
        <div class="text-center">
            <h1>Odnajdź z nami swoją figurę ;)</h1>
        </div>
        <div id="sliderMainPage" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div id="slider-1" class="carousel-item active">
                    <img class="d-block w-100" src="/images/img1.png" alt="First slide">
                </div>
                <div id="slider-2" class="carousel-item">
                    <img class="d-block w-100" src="/images/img2.png" alt="Second slide">
                </div>
                <div id="slider-3" class="carousel-item">
                    <img class="d-block w-100" src="/images/img3.png" alt="Third slide">
                </div>
            </div>
            </a>
        </div>
        <div>
            <%- include('popular-products', {popular: popularProducts}) %>
        </div>
    </main>
    </body>
    <%- include('footer') %>