<%- include('header', {isUserLogged: true}) %>
    <main class="container">
        <h1 class="text-center">Twoje konto</h1>
        <% if (locals.changePasswordAlert == 1) { %>
          <div class="alert alert-success text-center" role="alert">
              Pomyślnie zmieniono hasło.
          </div>
        <% } %>
        <% if (locals.changePasswordAlert == 0) { %>
          <div class="alert alert-danger text-center" role="alert">
              Podczas zmiany hasła wystąpił błąd.
          </div>
        <% } %>
        <div class="row">
          <div class="col-sm-6">
            <form id="checkP" action="/changePassword/" method="POST">
              <input type="hidden" name="validation" value="<%= currentUser %>">
              <div class="form-group">
                <label for="newPassword">Nowe hasło</label>
                <input type="password" class="form-control" id="newPassword" placeholder="Wprowadź nowe hasło" 
                name="password" required="true">
                <input type="password" class="form-control" id="newPasswordCheck" placeholder="Powtórz nowe hasło" 
                name="passwordCheck" required="true" style="margin-top: 10px;">
                <div id="alertP" class="alert alert-danger text-center" role="alert" style="display: none; margin-top: 10px;">
                  
                </div>
              </div>
              <div class="form-group">
                <label for="password">Potwierdź przy pomocy obecnego hasła</label>
                <input type="password" class="form-control" id="oldPassword" placeholder="Obecne hasło" name="oldPassword" required="true">
              </div>
              <button type="submit" class="btn btn-dark form-bttn">Zmień hasło</button>
            </form>
          </div>
          <div class="col-sm-6 my-account-control">
            <a class="btn btn-dark category-button" href="/logout/" role="button" style="margin-top: 10px;">Wyloguj</a>
            <a class="btn btn-danger category-button" href="/deleteAccount/" role="button" style="margin-top: 10px;">Usuń konto</a>
          </div>
        </div>
        <h1>TUTAJ BĘDZIE LISTA ZAMÓWIEŃ</h1>
    </main>
</body>
<%- include('footer') %>