<%- include('header') %>
    <main class="container">
        <% if (locals.productData) { %>
            <h1 class="text-center">Testowa nazwa</h1>
            <div class="row">
                <div class="col-sm-5">
                    <img class="img-fluid product-image" src="/images/cone.png" alt='stożek'>
                </div>
                <div class="col-sm-7">
                    <p><strong>CENA</strong></p>
                    <p class="lead product-description">
                    OPISOPISOPISOPISOPISOPISOPISOPISOPISOPISOPISOPISOPISOPISOPISOPISOPISOPISOPISOPISOPISOPISOPISOPISOPISOPISOPISOPIS
                    OPISOPISOPISOPISOPISOPISOPISOPISOPISOPISOPISOPISOPISOPISOPISOPISOPISOPISOPISOPISOPISOPISOPISOPISOPISOPISOPISOPIS
                    OPISOPISOPISOPISOPISOPISOPISOPISOPISOPISOPISOPISOPISOPISOPISOPISOPISOPISOPISOPISOPISOPISOPISOPISOPISOPISOPISOPISOPIS
                    OPISOPISOPISOPISOPISOPISOPISOPISOPISOPISOPISOPISOPISOPISOPISOPISOPISOPISOPISOPISOPISOPISOPISOPISOPISOPISOPISOPISOPISOPIS
                    </p>
                    <div class="table-responsive">
                        <table class="table table-sm table-borderless mb-0">
                            <tbody>
                              <tr>
                                <th class="pl-0 w-25" scope="row"><strong>Kategoria</strong></th>
                                <td>Figury 3D</td>
                              </tr>
                              <tr>
                                <th class="pl-0 w-25" scope="row"><strong>Kolor</strong></th>
                                <td>Blue</td>
                              </tr>
                              <tr>
                                <th class="pl-0 w-25" scope="row"><strong>Wymiary</strong></th>
                                <td>2 x 2 x 2 (cm)</td>
                              </tr>
                            </tbody>
                          </table>
                    </div>
                    <a class="btn btn-dark category-button" href="/cart/add/1" role="button">Dodaj do koszyka</a>
                </div>
            </div>
        <% } else { %>
            <h1>Coś poszło nie tak, spróbuj ponownie później.</h1>
        <% } %>
    </main>
</body>
<%- include('footer') %>