<%- include('header', {isUserLogged: isUserLogged}) %>
    <main class="container">
            <h1 class="text-center">Regulamin</h1>
            <div class="container">
                <p>Prosimy o korzystanie z aplikacji w sposób zgodny z jej przeznaczeniem. Serwis ten powstał w ramach przedmiotu Wybrane Elementy Praktyki
                    Projektowania Oprogramowania jako projekt podsumowujący to, czego nauczyliśmy się w trakcie uczęszczania na przedmiot.
                </p>
            </div>
    </main>
    </body>
<%- include('footer') %>